<h1>Contact List</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Contact</a>
 
<div class="search-hero">
    <input class="form-control" type="text" name="search">
    <h3>Here am added filter functioality with ng2searchfilter pipe, but getting npm error , so am not implemented,</h3>
    <h3>Functionlity for search [let user of users | filter:searchText] with input ngmodel</h3>
  </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Full Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">Company</th>
            <th style="width: 30%">Mobile</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.company}}</td>
            <td>{{user.mobile}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user">
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        
    </tbody>
</table>